html, body {
  font-family: Arial, FiraSansRegular;
  height:100%;
}
p {
  font-family: Arial, FiraSansRegular;
  line-height:1.2;
  margin-bottom:0.5em;
}

.action-icon {
  font-size:18px;
  position:relative;
}

.action-icon-sm {
  font-size:18px;
  position:relative;
  margin-left:10px;
}

.top_banner {
  background-color:#353030;
}
.top_banner img {
  width:36px;
  margin:4px 0px;
}

.top_banner .title {
  font-size:1.4em;
  font-family: Arial, FiraSansMedium;
  font-weight:bold;
  color:white;
  margin:12px 0px 6px 10px;
}

.top_banner #actions_area {
  padding-top:1em;
}

.footer_banner {
  background-color:#353030;
  bottom:0px;
}

.footer_banner .clickable, .top_banner .clickable {
    color:white;
}

.footer_banner p {
  margin:8px 0px;
}

.service-event {
  padding:10px 0px;

  border-bottom:1px solid #ccc;
  color:#444;
}

.clickable {
    cursor:pointer;
}
.clickable:hover {
    text-decoration:none;
}
.service-event .title {
  font-weight:400;
  color:#222;
}
.service-event .timestamp {
  font-size: 0.8em;
}

.service-event a {
  color:#666;
}
.service-event .action-icon {
  font-size:28px;
}
#welcome {
  margin:0px;
  padding:1em;
}

#home {
    height:100%;
}

.am-button {
    padding: 3px 6px;
    margin:2px 2px 2px 2px;
    font-size:18px;
    line-height:18px;
    color:white;
}

.top-bar h1 {
color:#fff;
}

#login-error div {
    margin:10px;
}

iframe {
    border:none;
}