@font-face{ 
    font-family: 'FiraSansRegular';
    font-weight:normal;
    src: url('fonts/FiraSans/FiraSans-Regular.woff') format('woff');
}

@font-face{ 
    font-family: 'FiraSansLight';
    font-weight:normal;
    src: url('fonts/FiraSans/FiraSans-Light.woff') format('woff');
}

@font-face{ 
    font-family: 'FiraSansMedium';
    font-weight:normal;
    src: url('fonts/FiraSans/FiraSans-Medium.woff') format('woff');
}
