.jumbotron {
  padding:10px;
  margin-bottom:10px;
}

div>h2 {
  margin-top:0px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















