body {
  padding-top: 60px;
}

div>h2 {
  margin-top:0px;
}

h2 {
  font-size: 24px;
}

.navbar-brand {
  padding:10px;
}

footer {
   margin-top:6px;
   text-align:center;
   font-size: 10px;
   color:#666;
}
.panel-body {
  padding:5px;
}

.service-type {
  margin-left:8px;
}

.service-event {
  padding:10px 0px;
  border-bottom:1px solid #ccc;
}

.service-event span.glyphicon-remove-circle {
    font-size:150%;
}
.clickable {
    cursor:pointer;
}
.service-event .title {
  font-weight:bold;
}
.service-event .timestamp {
  font-size: 80%;
}